.cart-container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 50px;
    justify-content: space-around;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    /* padding: 3px; */
    padding-right: 5px;
    color: black;
    font-size: x-large;
}
.cartLogo {
    min-width: 40px;
    max-height: 30px;
}