.itemsCardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem 40%;
}
.itemCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.verDetalle {
    margin: 5px auto;
}