.btn_container {
    background-color: #e7e7e7;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    width: 200px;
    margin: .5rem 50%;

    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: 1fr; */
    gap: .5rem;
    grid-template-areas:
        "b-rmv b-count b-add"
        "b-addCart b-addCart b-addCart"
    ;
    
}

.btn {
    border: none;
    border-radius: 3px;
    border: 1px solid black;
}

.btnAdd {
    grid-area: b-add;
}

.btnRmv {
    grid-area: b-rmv;
}

.btnAdd-cart {
    grid-area: b-addCart;

    background-color: #15ff8a;
    padding: 3px;
    font-weight: bolder;
}