.navbar {
    background-color: #000;
}

.btnLinks {
    margin: auto 5px;
    background-color: #55ff00;
    border: none;
    color: #000;
    font-weight: bolder;
}

.btnLinks:hover {
    border: 2px solid #55ff00;
    background-color: #000;
    color: #55ff00;
    font-weight: bolder;
}

.logoNav {
    min-width: 100px;
    max-width: 150px;
}