.navbar {
    background-color: #000;
}

.btnLinks {
    margin: auto 5px;
    background-color: #55ff00 !important;
    border: none !important;
    color: #000 !important;
    font-weight: bolder !important;
}

.btnLinks:hover {
    border: 2px solid #55ff00 !important;
    background-color: #000 !important;
    color: #55ff00 !important;
    font-weight: bolder !important;
}

.logoNav {
    min-width: 100px;
    max-width: 150px;
}