.btn_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.btn {
    border: none;
    border-radius: 3px;
    border: 1px solid black;
}

.btnAdd-cart {
    padding: 3px;
    font-weight: bolder;
} 

.counter {
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #dbdada;
    width: 50px;
    height: auto;
}