.App {
  text-align: center;
}

.title {
  margin: 10px auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 50px;
  height: 120px;
  background-color: #000;
  color: #55ff00;
}

.textLogo {
  font-size: x-large;
}